*, *::before,*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

li {
    list-style-type: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  font-size: inherit;
  font-weight: inherit;
}

body,html {
    height: 100%;
    
}

body {
    font-family: Manrope;
    line-height: 1;
    color: #333333
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page {
    flex: 1 1 auto;
}

[class*='__container'] {
    margin: 0 auto;
    padding: 0px 15px;
}

@media(min-width: 767.98px) {
    [class*='__container'] {
        max-width: 750px;
    }
}

@media(min-width: 991.98px) {
    [class*='__container'] {
        max-width: 970px;
    }
}
@media(min-width: 1200px) {
    [class*='__container'] {
        padding: 0px;
        max-width: 1170px;
    }
}